/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/

$dark-grey:#333333;
$med-grey:#989898;
$light-grey:#e9e9e9;
$white: #fff;
$black: #000;

$colour-yellow: #ffcb05;
$colour-light-text: tint($black, 80%);

$colour-font-default: $black;

$font-default: 'Poppins', sans-serif;
$font-serif: 'Libre Baskerville', serif;

